<p id="notice"><%= notice %></p>

<h1>Listing Html Links</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @html_links.each do |html_link| %>
      <tr>
        <td><%= link_to 'Show', html_link %></td>
        <td><%= link_to 'Edit', edit_html_link_path(html_link) %></td>
        <td><%= link_to 'Destroy', html_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Html link', new_html_link_path %>
